﻿@{
    ViewBag.Title = "XFactor Isracard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="wrapper">
    <div id="overlay"></div>
    <div id="popup">
        <p>שגיאה</p>
        <input type="button" value="סגור" />
    </div>
    <div id="welcome" class="page">
        <div id="like" class="fb-like" data-href="https://www.facebook.com/pages/Tests/506509046101709" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        <div id="play" class="btn"></div>
    </div>
    <div id="howtoplay" class="page">
        <img src="images/singers/small/01.jpg" style="top:444px;left:440px;" />
        <img src="images/singers/small/02.jpg" style="top:296px;left:536px;" />
        <img src="images/singers/small/03.jpg" style="top:296px;left:300px;" />
        <img src="images/singers/small/04.jpg" style="top:296px;left:203px;" />
        <img src="images/singers/small/05.jpg" style="top:444px;left:536px;" />
        <img src="images/singers/small/06.jpg" style="top:444px;left:634px;" />
        <img src="images/singers/small/07.jpg" style="top:296px;left:105px;" class="off" />
        <div style="top:296px;left:105px;background-color:black;opacity:0.4;width:73px;height:93px;position:absolute;"></div>
        <img src="images/singers/small/08.jpg" style="top:296px;left:633px;" class="off" />
        <div style="top:296px;left:633px;background-color:black;opacity:0.4;width:73px;height:93px;position:absolute;"></div>
        <img src="images/singers/small/09.jpg" style="top:444px;left:300px;" />
        <img src="images/singers/small/10.jpg" style="top:444px;left:105px;" />
        <img src="images/singers/small/11.jpg" style="top:296px;left:440px;" />
        <img src="images/singers/small/12.jpg" style="top:444px;left:203px;" />
    </div>
    <div id="photo" class="page">
        <img src="" id="mainPhoto"/>
        <img src="" id="profilePhoto"/>
    </div>
    <div id="form" class="page">
        <input type="text" id="FullName" name="FullName" placeholder="שם מלא"/>
        <input type="text" id="Phone" name="Phone" placeholder="טלפון" maxlength="11" value="123123123"/>
        <select id="PhoneCode" name="PhoneCode">
            <option value="050">050</option>
            <option value="052">052</option>
            <option value="053">053</option>
            <option value="054">054</option>
            <option value="057">057</option>
            <option value="058">058</option>
            <option value="059">059</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="072">072</option>
            <option value="073">073</option>
            <option value="074">074</option>
            <option value="076">076</option>
            <option value="077">077</option>
        </select>
        <input type="text" id="EMail" name="EMail" placeholder="דואל" />
        <input type="checkbox" id="Agreement" name="Agreement" />
        <a href="terms.pdf" target="_blank" id="terms2" class="btn"></a>
        <div id="send" class="btn"></div>
    </div>
    <div id="done" class="page">
        <img />
        <div id="skip" class="btn"></div>
        <div id="share" class="btn"></div>
    </div>
    <div id="thankyou" class="page">
        <div class="togallery btn"></div>
    </div>
    <div id="gallery" class="page">
        <div class="delete" style="position:absolute;bottom:0px;left:0px;width:50px;height:50px;"></div>
        <img src="images/singers/small/01.jpg" style="top:352px;left:446px;" />
        <img src="images/singers/small/02.jpg" style="top:175px;left:561px;" />
        <img src="images/singers/small/03.jpg" style="top:175px;left:279px;" />
        <img src="images/singers/small/04.jpg" style="top:175px;left:163px;" />
        <img src="images/singers/small/05.jpg" style="top:352px;left:561px;" />
        <img src="images/singers/small/06.jpg" style="top:352px;left:677px;" />
        <img src="images/singers/small/07.jpg" style="top:175px;left:47px;" class="off" />
        <div style="top:175px;left:47px;background-color:black;opacity:0.4;width:86px;height:111px;position:absolute;"></div>
        <img src="images/singers/small/08.jpg" style="top:175px;left:677px;" class="off" />
        <div style="top:175px;left:677px;background-color:black;opacity:0.4;width:86px;height:111px;position:absolute;"></div>
        <img src="images/singers/small/09.jpg" style="top:352px;left:279px;" />
        <img src="images/singers/small/10.jpg" style="top:352px;left:47px;" />
        <img src="images/singers/small/11.jpg" style="top:175px;left:446px;" />
        <img src="images/singers/small/12.jpg" style="top:352px;left:163px;" />
    </div>
    <div id="galleryPhoto" class="page">
        <img src="" />
        <div class="togallery btn"></div>
    </div>
    <div id="temp" class="page"></div>
    <a href="terms.pdf" id="terms" target="_blank" class="btn"></a>
</div>

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        // init the FB JS SDK
        FB.init({
            appId: '1375849119337401',                        // App ID from the app dashboard
            status: true,                                 // Check Facebook Login status
            xfbml: true                                  // Look for social plugins on the page
        });
        User.liked = @ViewBag.IsLike.ToString().ToLower();
        fb.init();
    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
    ga('create', 'UA-45928251-4', 'nethost.co.il');
    ga('send', 'pageview');
</script>