﻿body {
    margin:0px;
    padding:0px;
    font-family: Arial;
}

#wrapper {
    width: 810px;
    height: 600px;
    background: url(../images/bg.png);
    position:relative;
    margin:0px auto;
}
#overlay {
    background-color: white;
    opacity: 0.5;
    width: 810px;
    height: 600px;
    cursor: pointer;
    position:absolute;
    display:none;
}
#popup {
    background:url(../images/popup.png);
    width:400px;
    height:150px;
    position:absolute;
    top:292px;
    left:200px;
    display:none;
    z-index:10;
}
    #popup p {
        color: white;
        text-align: center;
        margin-top: 30px;
        font-weight: bold;
    }
    #popup input {
        margin-right:180px;
    }
.page {
    width: 810px;
    height: 600px;
    display:none;
}
.btn {
    position: absolute;
    cursor: pointer;
}
#terms {
    width: 60px;
    height: 30px;
    top: 528px;
    right: 10px;
}
#welcome {
    background: url(../images/welcome.png);
}
#welcome.like {
    background: url(../images/welcome_postlike.png);
}
    #welcome .btn {
        display: none;
        top:430px;
        left:118px;
        width:229px;
        height:54px;
    }
    #welcome #like {
        /*width: 118px;
        left: 173px;*/
        /*background: url(../images/like.png);*/
        position: absolute;
        top: 440px;
        left: 200px;
        direction:ltr;
    }
    #welcome #play {
        background: url(../images/play_off.png);
    }
    #welcome #play:hover {
        background: url(../images/play_on.png);
    }
#howtoplay {
    background: url(../images/howtoplay.png);
}
    #howtoplay img {
        position:absolute;
        cursor:pointer;
        width: 73px;
        height: 93px;
    }
    #howtoplay img.off {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        cursor: default;
    }
#photo {
    background: url(../images/photo.png);
}
    #photo #mainPhoto {
        position: absolute;
        top: 215px;
        left: 288px;
        height: 302px;
        width: 236px;
        cursor: pointer;
    }
    #photo #profilePhoto {
        position: absolute;
        top: 330px;
        right: 100px;
        width: 70px;
        border: 3px solid white;
}
#form {
    background: url(../images/form.png);
}
    #form input[type=text] {
        position: absolute;
        right: 251px;
        height: 32px;
        width: 302px;
        border: none;
        font-size: 22px;
        direction: ltr;
    }
    #form #FullName {
        top: 299px;
        direction: rtl;
    }
    #form #Phone {
        top:350px;
    }
    #form #PhoneCode {
        display:none;
        position:absolute;
        top:350px;
        right:500px;
    }
    #form #EMail {
        top:401px;
    }
    #form #Agreement {
        position:absolute;
        top: 450px;
        right: 244px;
    }
    #form #send {
        top:490px;
        right:330px;
        width:126px;
        height:51px;
        background: url(../images/send_off.png);
    }
    #form #send:hover {
        background: url(../images/send_on.png);
    }
    #form #terms2 {
        width: 51px;
        height: 20px;
        top: 450px;
        right: 360px;
    }
#done {
    background: url(../images/done.png);
}
    #done img {
        position: absolute;
        top: 215px;
        left: 288px;
        height: 302px;
        width: 236px;
    }
    #done .btn {
        right:600px;
        width:131px;
        height:45px;
    }
    #done #skip {
        top:430px;
        background: url(../images/skip_off.png);
    }
    #done #skip:hover {
        background: url(../images/skip_on.png);
    }
    #done #share {
        top:380px;
        background: url(../images/share_off.png);
    }
    #done #share:hover {
        background: url(../images/share_on.png);
    }
#thankyou {
    background: url(../images/thankyou.png);
}
    #thankyou .togallery {
        top: 290px;
        right: 275px;
        width: 244px;
        height: 58px;
        background: url(../images/gallery_off.png);
    }
    #thankyou .togallery:hover {
        background: url(../images/gallery_on.png);
    }
#galleryPhoto {
    background: url(../images/galleryPhoto.png);
}
    #galleryPhoto img {
        width: 235px;
        top: 155px;
        position: absolute;
        right: 157px;
        height: 302px;
    }

    #galleryPhoto .togallery {
        top: 290px;
        right: 475px;
        width: 244px;
        height: 58px;
        background: url(../images/gallery_off.png);
    }
    #galleryPhoto .togallery:hover {
        background: url(../images/gallery_on.png);
    }
#gallery {
    background: url(../images/gallery.png);
}
    #gallery img {
        position:absolute;
        cursor:pointer;
        width: 86px;
        height: 111px;
    }
    #gallery img.off {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        cursor: default;
    }

@media only screen and (min-width: 300px) and (max-width: 767px) {
    #wrapper {
        width: 320px;
        height: 400px;
        background: url(../images/bg.png);
        background-size: 320px 400px;
        position:relative;
        margin:0px auto;
    }
    #overlay {
        background-color: white;
        opacity: 0.5;
        width: 810px;
        height: 600px;
        cursor: pointer;
        position:absolute;
        display:none;
    }
    #popup {
        background:url(../images/popup.png);
        width:400px;
        height:150px;
        position:absolute;
        top:292px;
        left:200px;
        display:none;
        z-index:10;
    }
        #popup p {
            color: white;
            text-align: center;
            margin-top: 30px;
            font-weight: bold;
        }
        #popup input {
            margin-right:180px;
        }
    .page {
        width: 810px;
        height: 600px;
        display:none;
    }
    .btn {
        position: absolute;
        cursor: pointer;
    }
    #terms {
        width: 60px;
        height: 30px;
        top: 528px;
        right: 10px;
    }
    #welcome {
        background: url(../images/welcome.png);
    }
    #welcome.like {
        background: url(../images/welcome_postlike.png);
    }
        #welcome .btn {
            display: none;
            top:430px;
            left:118px;
            width:229px;
            height:54px;
        }
        #welcome #like {
            /*width: 118px;
            left: 173px;*/
            /*background: url(../images/like.png);*/
            position: absolute;
            top: 440px;
            left: 200px;
            direction:ltr;
        }
        #welcome #play {
            background: url(../images/play_off.png);
        }
        #welcome #play:hover {
            background: url(../images/play_on.png);
        }
    #howtoplay {
        background: url(../images/howtoplay.png);
    }
        #howtoplay img {
            position:absolute;
            cursor:pointer;
            width: 73px;
            height: 93px;
        }
        #howtoplay img.off {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
            filter: gray; /* IE6-9 */
            -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
            cursor: default;
        }
    #photo {
        background: url(../images/photo.png);
    }
        #photo #mainPhoto {
            position: absolute;
            top: 215px;
            left: 288px;
            height: 302px;
            width: 236px;
            cursor: pointer;
        }
        #photo #profilePhoto {
            position: absolute;
            top: 330px;
            right: 100px;
            width: 70px;
            border: 3px solid white;
    }
    #form {
        background: url(../images/form.png);
    }
        #form input[type=text] {
            position: absolute;
            right: 251px;
            height: 32px;
            width: 302px;
            border: none;
            font-size: 22px;
            direction: ltr;
        }
        #form #FullName {
            top: 299px;
            direction: rtl;
        }
        #form #Phone {
            top:350px;
        }
        #form #PhoneCode {
            display:none;
            position:absolute;
            top:350px;
            right:500px;
        }
        #form #EMail {
            top:401px;
        }
        #form #Agreement {
            position:absolute;
            top: 450px;
            right: 244px;
        }
        #form #send {
            top:490px;
            right:330px;
            width:126px;
            height:51px;
            background: url(../images/send_off.png);
        }
        #form #send:hover {
            background: url(../images/send_on.png);
        }
        #form #terms2 {
            width: 51px;
            height: 20px;
            top: 450px;
            right: 360px;
        }
    #done {
        background: url(../images/done.png);
    }
        #done img {
            position: absolute;
            top: 215px;
            left: 288px;
            height: 302px;
            width: 236px;
        }
        #done .btn {
            right:600px;
            width:131px;
            height:45px;
        }
        #done #skip {
            top:430px;
            background: url(../images/skip_off.png);
        }
        #done #skip:hover {
            background: url(../images/skip_on.png);
        }
        #done #share {
            top:380px;
            background: url(../images/share_off.png);
        }
        #done #share:hover {
            background: url(../images/share_on.png);
        }
    #thankyou {
        background: url(../images/thankyou.png);
    }
        #thankyou .togallery {
            top: 290px;
            right: 275px;
            width: 244px;
            height: 58px;
            background: url(../images/gallery_off.png);
        }
        #thankyou .togallery:hover {
            background: url(../images/gallery_on.png);
        }
    #galleryPhoto {
        background: url(../images/galleryPhoto.png);
    }
        #galleryPhoto img {
            width: 235px;
            top: 155px;
            position: absolute;
            right: 157px;
            height: 302px;
        }

        #galleryPhoto .togallery {
            top: 290px;
            right: 475px;
            width: 244px;
            height: 58px;
            background: url(../images/gallery_off.png);
        }
        #galleryPhoto .togallery:hover {
            background: url(../images/gallery_on.png);
        }
    #gallery {
        background: url(../images/gallery.png);
    }
        #gallery img {
            position:absolute;
            cursor:pointer;
            width: 86px;
            height: 111px;
        }
        #gallery img.off {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
            filter: gray; /* IE6-9 */
            -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
            cursor: default;
        }
}