﻿<!DOCTYPE html>
<html lang="he" dir="rtl">
    <head>
        <meta charset="utf-8" />
        <title>XFactor - Isracard</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/CSS/Main.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/Main.js"></script>
        @RenderSection("Scripts", false)
    </head>
    <body>
        @RenderBody()
    </body>
</html>
