﻿@model XFactor.Models.LoginModel

@{
    ViewBag.Title = "התחבר";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>כניסה למערכת</h2>

<div id="login-form">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                <br />
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="row">
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                <br />
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="row">
            <div class="editor-label">
                @Html.LabelFor(model => model.RememberMe)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RememberMe)
                <br />
                @Html.ValidationMessageFor(model => model.RememberMe)
            </div>
        </div>
        <div class="row">
            <input type="submit" value="כנס" />
        </div>
    }
</div>