﻿@{
    ViewBag.Title = "רשימת משתמשים";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>רשימת משתמשים</h2>

<table width="600" style="margin:0px auto;">
    <tr>
        <th width="150">שם</th>
        <th width="50">מצביעים</th>
        <th width="150">שם</th>
        <th width="50">מצביעים</th>
    </tr>
    <tr>
        <td>להקת פיוז'ן</td>
        <td>@ViewBag.Comp1</td>
        <td>אבישחר ג'קסון</td>
        <td>@ViewBag.Comp2</td>
    </tr>
    <tr>
        <td>אורי שכיב</td>
        <td>@ViewBag.Comp3</td>
        <td>בן גולן</td>
        <td>@ViewBag.Comp4</td>
    </tr>
    <tr>
        <td>טלי ולירון קרקולי</td>
        <td>@ViewBag.Comp5</td>
        <td>האחים אגמי</td>
        <td>@ViewBag.Comp6</td>
    </tr>
    <tr>
        <td>יהב טווסי</td>
        <td>@ViewBag.Comp7</td>
        <td>נטע רד</td>
        <td>@ViewBag.Comp8</td>
    </tr>
    <tr>
        <td>עדן בן זקן</td>
        <td>@ViewBag.Comp9</td>
        <td>ענבל ביבי</td>
        <td>@ViewBag.Comp10</td>
    </tr>
    <tr>
        <td>רוז פוסטרנט</td>
        <td>@ViewBag.Comp11</td>
        <td>תמר פרידמן</td>
        <td>@ViewBag.Comp12</td>
    </tr>
</table>
<br /><br />
<div id="form-wrapper">
    <form id="form-search">
        <div class="row">
            <div class="box">
                <label class="editor-label">שם מלא</label>
                <input class="editor-field" type="text" name="fullName" id="fullName" />
            </div>
            <div class="box">
                <label class="editor-label">זמר</label>
                <select name="singer">
                    <option value="0">בחר</option>
                    <option value="להקת פיוז'ן">להקת פיוז'ן</option>
                    <option value="אבישחר ג'קסון">אבישחר ג'קסון</option>
                    <option value="אורי שכיב">אורי שכיב</option>
                    <option value="בן גולן">בן גולן</option>
                    <option value="טלי ולירון קרקולי">טלי ולירון קרקולי</option>
                    <option value="האחים אגמי">האחים אגמי</option>
                    <option value="יהב טווסי">יהב טווסי</option>
                    <option value="נטע רד">נטע רד</option>
                    <option value="עדן בן זקן">עדן בן זקן</option>
                    <option value="ענבל ביבי">ענבל ביבי</option>
                    <option value="רוז פוסטרנט">רוז פוסטרנט</option>
                    <option value="תמר פרידמן">תמר פרידמן</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="buttn-borm box">
                <input type="submit" value="חפש" />
            </div>
        </div>
    </form>
</div>

<div class="k-rtl clear">
    <div id="DataGrid"></div>
</div>
<script>
    $(document).ready(function () {
        var $form = $("#form-search");
        var formData = $form.serialize().split('&');
        var formParams = {};
        $(formData).each(function () {
            var nvp = this.split('=');

            //Instead of setting a value to the param we set up a function to get the value
            formParams[nvp[0]] = function () {
                var $inputEl = $form.find('*[name=' + nvp[0] + ']').first();
                if ($inputEl.attr("type") == "checkbox") {
                    return $inputEl.is(':checked');
                } else {
                    return $inputEl.val();
                }
            };
        });

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "UsersGrid",
                    type: "GET",
                    data: formParams
                }
            },
            serverSorting: true,
            serverFiltering: true,
            serverPaging: true,
            pageSize: 50,
            schema: {
                data: function (data) {
                    return data.data;
                },
                total: function (data) {
                    return data.total;
                },
                model: {
                    id: "ID",
                    fields: {
                        ID: { type: "number" },
                        FirstName: { type: "string" },
                        LastName: { type: "string" },
                        Email: { type: "string" },
                        Phone: { type: "string" },
                        FacebookID: { type: "string" },
                        CreatedStr: { type: "string" },
                        Singer: { type: "string" }
                    }
                }
            }
        });

        var grid = $("#DataGrid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            sortable: true,
            columns: [
                { field: "ID", title: "מזהה", width: 70 },
                { field: "CreatedStr", title: "תאריך", width: 100 },
                { field: "Singer", title: "זמר", width: 120 },
                { field: "FullName", title: "שם מלא" },
                {
                    field: "Email", title: "דוא\"ל", width: 230,
                    template: "#= (Email != null) ? '<a href=mailto:' + Email + ' target=_blank class=post-link>' + Email + '</a>' : '' #"
                },
                { field: "Phone", title: "טלפון" },
                {
                    field: "FacebookID", title: "פייסבוק", sortable: false, width: 120,
                    template: "<a href='https://www.facebook.com/#=FacebookID#' target='_blank' class='post-link'>Facebook</a>"
                }
            ]
        }).data("kendoGrid");

        $("#form-search").submit(function (e) {
            e.preventDefault();
            grid.dataSource.read();
        });
    });
</script>